app-viewport()
    div(main="")
        .centered
            form.centered-form(
                *ngIf='!success; else succesWindow',
                [formGroup]='resetForm')
                .caption Change password
                label(for='password') New password
                input(type='text' required="" name=password id=password,
                formControlName="password" )
                label(for='repeat') Repeat password
                input(type='password' required="" name=repeat id=repeat,
                formControlName="passwordRepeat" )
                button((click)='submitForm()') Change password
            ng-template(#succesWindow='')
                .susses-window Password was successfully changed
