app-viewport()
    div(main="")
        .centered
            form.centered-form(
                *ngIf='!success; else succesWindow',
                [formGroup]='resetForm')
                .caption Change password
                label(for='password') *New password
                input(type='password' required="" name=password id=password,
                formControlName="password" )
                .alert(*ngIf='password.invalid && (password.dirty || password.touched)')
                    small *Password must contain at least 8 characters
                label(for='repeat') *Repeat password
                input(type='password' required="" name=repeat id=repeat,
                formControlName="passwordRepeat" )
                .alert(*ngIf='passwordRepeat.invalid && (passwordRepeat.dirty || passwordRepeat.touched)')
                    small *Passwords do not match
                button((click)='submitForm()') Change password
            ng-template(#succesWindow='')
                .susses-window Password was successfully changed
