.top-pane
    .rigth
        .logo
        .icons
            button.menu-icon((click)='changeMenuState()')
                i([ngClass]='searchOpen ? "icon-cross" : "icon-menu"' )
            button((click)='changeSrchBarState()')
                i.icon-search
        form.search-bar(#searchForm = 'ngForm',
                        [ngClass] = '{"open-search":searchOpen}',
                        (submit) = 'startSearch(searchForm)')
            button.close-btn
                i.icon-cross((click)='changeSrchBarState()')
            input(type='text' name='search' id='search'
            placeholder='Search...', ngModel='')
            button.search-btn()
                i.icon-search
    button.user-account
        .name
            span {{getFullName(user)}}
        app-user-pic([picture]= 'user.img', [fname]='user.fname', [lname]='user.lname')
.hide-zone([ngClass] = '{"open-search":searchOpen}', (click)='changeSrchBarState()')

