form.row.columns('#commentForm'="ngForm")
    textarea([value]='comment && comment.text || ""'
                    rows=5 cols=10
                    name='comment'
                    id='comment'
                    class="form-control"  required
                    placeholder='What do you think about it?'
                    ngModel='')
    .row.form-btn
        button(type='submit', [disabled]="commentForm.invalid", (click)='submitForm(commentForm)')
            | {{!isEdit ? "Submit" : "Save and close"}}
        ng-container(*ngIf='isEdit')
            button((click)='closeForm()') Close
